# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env
